<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <conversionRule conversionWord="tid" converterClass="com.echobox.logging.ThreadIdConverter" />

  <!-- Logging to syslog which is redirected to loggly -->
  <appender name="SYSLOG" class="com.echobox.logging.SyslogAppenderWithAppendix">
    <syslogHost>localhost</syslogHost>
    <facility>USER</facility>
    <suffixPattern>[%logger] %nopex</suffixPattern>
    <appendixLayout
      class="net.logstash.logback.layout.LoggingEventCompositeJsonLayout">
      <providers>
        <pattern>
          <pattern>{ "threadId": "%tid-%thread", "message": "%msg", "exception":"%rEx{5}" }</pattern>
        </pattern>
        <arguments />
      </providers>
    </appendixLayout>
  </appender>

  <!-- Logging to console -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>%d{dd/MM HH:mm:ss.SSS} [%tid-%thread] %-5level %logger{36} - %msg%n</Pattern>
    </encoder>
  </appender>

  <!-- Logging to file -->
  <appender name="FILE"
    class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/echobox.txt</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>logs/archived/%d{yyyy-MM-dd}.gz</fileNamePattern>

      <!-- keep 30 days' worth of history -->
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <append>true</append>
    <encoder>
      <Pattern>%d{dd/MM HH:mm:ss.SSS} [%tid-%thread] %-5level %logger - %msg%n</Pattern>
    </encoder>
  </appender>

  <!-- Get all debug logs from within sh.ebx -->
  <logger name="com.echobox" level="DEBUG" />

  <root level="debug">
    <appender-ref ref="SYSLOG" />
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>

</configuration>